/* Alinhamento principal da página (Remoção de margens, etc) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fontes do Projeto e cores do background */
body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to right, #50915b, #ec5250);
}

/* Imagem do Cabeçalho da página */
header img {
  width: 100%;
  height: auto;
}

/* Menu Principal (Navigation Links) */
.menu-topo {
  position: absolute;
  top: 3.12rem;
  left: 50%;
  transform: translateX(-50%);
}

.menu-topo ul {
  list-style: lower-alpha;
  margin: 0rem; /*distância entre o topo e o menu */
}

.menu-topo ul li {
  display: inline;
}

.menu-topo ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  background: #50915b;
  background-clip: padding-box;
  border-style: solid;
}

.nome-site h1 {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 5rem; /*distância entre o topo e o menu */
}

/* main {
  
} */

/* Container de imagens e depoimentos de clientes */
.clientes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100rem;
  width: 100%;
}

/* Estilização das fotos de clientes */
.clientes-container img {
  width: 90%;
  height: auto;
  border-radius: 20rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #a71622de;
  margin: 5%;
}

/* Estilização das sessões */
section {
  margin-bottom: 2.5rem;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #ffffff;
}

/* Container de imagens e depoimentos de clientes */
.produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100rem;
  width: 100%;
}

/* Estilização das fotos de clientes */
.produtos img {
  width: 90%;
  height: auto;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #a71622de;
  margin: 5%;
}

footer {
  color: #ffffff;
  text-align: center;
}

footer img {
  width: 100%;
  height: auto;
  border-top-style: solid;
  border-top-color: #a71622de;
  border-top-width: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: #a71622de;
  border-bottom-width: 0.5rem;
}

/* Inicio das configurações para Menu Hamburguer */

.linha-menu {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.lista-menu {
  list-style: none;
  display: flex;
}

.lista-menu li {
  margin-right: 20px;
}

.lista-menu li a {
  color: white;
  text-decoration: none;
}

.icone-menu {
  cursor: pointer;
  display: none; /* escondido em telas maiores */
}

/* Fim das configurações para Menu Hamburuger */

@media screen and (max-width: 768px) {
  .lista-menu {
      display: none; /* escondido em telas menores */
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
  }

  .lista-menu.active {
      display: flex;
  }

  .icone-menu {
      display: block; /* exibido em telas menores */
  }
}
