/* Alinhamento principal da página (Remoção de margens, etc) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fontes do Projeto e cores do background */
body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to right, #50915b, #ec5250);
}

/* Imagem do Cabeçalho da página */
header img {
  width: 100%;
  height: auto;
}

/* Inicio das configurações da barra de topo */

/* Menu Principal (Navigation Bar) */
.menu-topo {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #50915b;
  padding: 0.5rem 0;
}

.menu-topo ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-topo ul li {
  display: inline-block;
}

.menu-topo ul li:not(:last-child) {
  margin-right: 2rem;
}

.menu-topo ul li a {
  font-size: 1.5rem; 
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.menu-topo ul li a:hover {
  background-color: #3a6f43; 
}

/* Fim das configurações da barra de topo */

.nome-site h1 {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 5rem; /*distância entre o topo e o menu */
}

main h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin: 2%;
}

/* Estilização das sessões */
section {
  margin-bottom: 2.5rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #ffffff;
}

/* Container de imagens e depoimentos de clientes */
.clientes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100rem;
  width: 100%;
}

/* Estilização das fotos de clientes */
.clientes-container img {
  width: 90%;
  height: auto;
  border-radius: 20rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #a71622de;
  margin: 5%;
}

/* Container de imagens e depoimentos de clientes */
.produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100rem;
  width: 100%;
}

/* Estilização das fotos de clientes */
.produtos img {
  width: 90%;
  height: auto;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #a71622de;
  margin: 5%;
}

footer {
  color: #ffffff;
  text-align: center;
}

footer img {
  width: 100%;
  height: auto;
  border-top-style: solid;
  border-top-color: #a71622de;
  border-top-width: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: #a71622de;
  border-bottom-width: 0.5rem;
}

/* Inicio das configurações para Menu Hamburguer */

.linha-menu {
  width: 1.3rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.3rem;
}

.icone-menu {
  cursor: pointer;
  display: none;
}

/* Fim das configurações para Menu Hamburuger */

@media screen and (max-width: 768px) {

  .menu-topo {
    position: fixed;
  }

  .lista-menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 2rem;
      left: 0;
      background-color: #50915b;
      width: 100%;
      padding: 0rem;
      box-sizing: border-box;
  }

  .lista-menu.active {
      display: flex;
  }

  .icone-menu {
      display: block;
  }
}
