* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, #50915b, #ec5250);
}

header {
  position: relative;
}

header img {
  width: 100%;
  height: auto;
}

nav {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  list-style: lower-alpha;
   margin: 0rem; /*distância entre o topo e o menu */
}

nav ul li {
  display: inline;
  
}

nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  background: #50915b;
  background-clip: padding-box;
  border-style: solid;

}

nav h1 {
  color: #FFFFFF;
  font-size: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 5rem; /*distância entre o topo e o menu */
}
nav h2 {
  color: #FFFFFF;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 5rem; /*distância entre o topo e o menu */
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 40px;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #FFFFFF;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
}

.produtos img {
  width: calc(25% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #a71622de;
}

footer {
  color: #FFFFFF;
  text-align: center;
}

footer img {
  width: 100%;
  height: auto;
  border-top-style: solid;
  border-top-color: #a71622de;
  border-top-width: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: #a71622de;
  border-bottom-width: 0.5rem;
}

@media screen and (max-width: 768px) {
  nav {
    top: 20px;
  }
  
  .produtos img {
    width: calc(50% - 20px);
  }
}
